@use "../../../../../../scss/abstract/" as *;

.text {
    width: 100%;
    position: relative;
    // overflow: hidden;
    .inside-texts {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 80%;
        flex-direction: column;
        @include xsBreakPoint {
            height: 100%;
        }
    }
    .loreams-text {
        font-size: 1.5rem;
        width: 70%;
        text-align: center;
        @include xsBreakPoint {
            font-size: 1.1rem;
            width: 90%;
            padding-left: 10px;
            padding-right: 10px;
        }
        @include mdBreakPoint {
            font-size: 1rem;
        }
        @include lgBreakPoint {
            width: 80%;
            font-size: 1.2rem;
            text-align: center;
            line-height: 2;
        }
    }
    .text-sizes {
        font-size: 3rem;
        @include xsBreakPoint {
            font-size: 1.5rem;
        }
    }
    .bottom-imageds {
        width: 40%;
        position: absolute;
        @include xsBreakPoint {
            width: 65%;
            right: 15%;
            top: 100%;
        }
        @include mdBreakPoint {
            width: 35%;
            right: 35%;
            top: 100%;
        }
        @include lgBreakPoint {
            width: 55%;
            top: 90%;
            right: 20%;
        }
        @include xlBreakPoint {
            width: 65%;
            right: 15%;
            top: 85%;
        }
        @include xxlBreakPoint {
            width: 55%;
            right: 15%;
            top: 95%;
        }
    }
    .reads {
        border: none;
        outline: none;
        padding: 10px 30px;
        border-radius: 20px;
        background-color: orange;
        font-size: 1.1rem;
        font-weight: 500;
        @include xsBreakPoint {
            padding: 10px;
            width: 100%;
            font-size: 1rem;
        }
        @include lgBreakPoint {
            font-size: 1rem;
            padding: 10px 30px;
        }
    }
}
