@use "../../../../scss/abstract/" as *;

.abouts {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    @include xsBreakPoint {
        height: auto;
    }
    @include smBreakPoint {
        height: auto;
    }
    @include mdBreakPoint {
        height: auto;
    }
    @include lgBreakPoint {
        height: auto;
    }
    @include xlBreakPoint {
        height: auto;
    }
    @include xxlBreakPoint {
        height: auto;
    }
    .inside-abouts {
        width: 100%;
        display: flex;

        height: 100%;
        @include xsBreakPoint {
            flex-direction: column;
        }
        @include smBreakPoint {
            flex-direction: column;
        }
        @include mdBreakPoint {
            flex-direction: column;
        }
        .left-about-first {
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include xsBreakPoint {
                width: 100%;
                padding-top: 20%;
            }
            @include smBreakPoint {
                width: 100%;
            }
            @include mdBreakPoint {
                width: 100%;
            }
            @include lgBreakPoint {
                width: 100%;
            }
            @include xlBreakPoint {
                width: 100%;
            }
            .back {
                position: relative;
                .persons {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                    position: absolute;
                    width: 100%;
                    @include xsBreakPoint {
                        width: 70%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        left: 15%;
                        top: 18%;
                    }
                    @include mdBreakPoint {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        left: 8%;
                        top: 12%;
                    }
                    @include lgBreakPoint {
                        width: 80%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 0 auto;
                        left: 8%;
                        top: 12%;
                    }
                }
                .rotates {
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    animation: rotatesdata 7s ease-in-out infinite;
                    @include xsBreakPoint {
                        width: 100%;
                        top: 5%;
                    }
                    @include mdBreakPoint {
                        width: 100%;
                        top: 5%;
                    }
                }
            }

            .empty-round {
                width: 200px;
                height: 200px;
                border: 2px solid orange;
                background: linear-gradient(180deg, #fdf7a3 0%, rgba(248, 180, 74, 0.97) 100%);
                border-radius: 50%;
                animation: cts 5s ease-in-out infinite;
                position: absolute;
                top: 0;
                left: 0;
                @include xsBreakPoint {
                    width: 100px;
                    height: 100px;
                }
            }
            .empty-round1 {
                width: 200px;
                height: 200px;
                border: 2px solid orange;
                background: linear-gradient(180deg, #fdf7a3 0%, rgba(248, 180, 74, 0.97) 100%);
                border-radius: 50%;
                animation: cts1 5s ease-in-out infinite;
                position: absolute;
                right: 30%;
                @include xsBreakPoint {
                    width: 100px;
                    height: 100px;
                }
            }
        }
        .right-about-second {
            width: 50%;
            @include xsBreakPoint {
                width: 100%;
            }
            @include smBreakPoint {
                width: 100%;
            }
            @include mdBreakPoint {
                width: 100%;
            }
            @include lgBreakPoint {
                width: 100%;
            }
            @include xlBreakPoint {
                width: 100%;
            }
            .content-about {
                height: 35%;
                @include xsBreakPoint {
                    padding: 10px;
                }
                @include lgBreakPoint {
                    height: 35%;
                }

                .p-split {
                    display: flex;
                    align-items: center;
                    .surya {
                        font-size: 3rem;
                        color: green;
                        font-weight: 600;
                        padding-left: 10px;
                        @include xsBreakPoint {
                            font-size: 1.7rem;
                        }
                    }
                }
                .myname {
                    font-size: 2.5rem;
                    font-weight: 500;
                    @include xsBreakPoint {
                        font-size: 1.2rem;
                    }
                }
                .me {
                    font-size: 3rem;
                    color: orange;
                    font-weight: 500;
                    @include lgBreakPoint {
                        font-size: 2.3rem;
                    }
                }
                .is {
                    font-size: 1.8rem;
                    line-height: 1.7;
                    @include xsBreakPoint {
                        font-size: 0.809rem;
                        text-align: center;
                    }
                    @include mdBreakPoint {
                        text-align: center;
                    }
                    @include lgBreakPoint {
                        font-size: 1rem;
                    }
                }
            }
            .another-content-section {
                width: 100%;
                height: 65%;
                @include xsBreakPoint {
                    height: 55%;
                }
                @include lgBreakPoint {
                }
                .box1 {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    @include xsBreakPoint {
                        flex-direction: column-reverse;
                    }
                    .left-box1 {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin: 0 auto;
                        justify-content: center;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        @include lgBreakPoint {
                            width: 100%;
                        }
                        @include xlBreakPoint {
                            width: 100%;
                        }
                    }
                    .right-box1 {
                        width: 50%;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        @include lgBreakPoint {
                            width: 100%;
                        }
                        @include xlBreakPoint {
                            width: 100%;
                        }
                        .like1 {
                            width: 83%;
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include xsBreakPoint {
                                width: 80%;
                            }
                            @include lgBreakPoint {
                                width: 100%;
                            }
                            @include xlBreakPoint {
                                width: 100%;
                            }
                        }
                    }
                }
                .box2 {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    @include xsBreakPoint {
                        flex-direction: column;
                    }
                    .left-box2 {
                        width: 50%;
                        @include xsBreakPoint {
                            width: 100%;
                        }
                        @include lgBreakPoint {
                            width: 100%;
                        }
                        @include xlBreakPoint {
                            width: 100%;
                        }
                        .like1 {
                            width: 80%;
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            @include xsBreakPoint {
                                width: 80%;
                                padding-top: 3%;
                                padding-bottom: 20px;
                            }
                            @include lgBreakPoint {
                                width: 100%;
                            }
                            @include xlBreakPoint {
                                width: 100%;
                            }
                        }
                    }
                    .right-box2 {
                        width: 50%;
                        display: flex;
                        flex-direction: column;
                        margin: 0 auto;
                        justify-content: center;
                        @include xsBreakPoint {
                            width: 100%;
                            margin: 0 auto;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                        @include lgBreakPoint {
                            width: 100%;
                            margin: 0 auto;
                            padding-right: 20px;
                        }
                        @include xlBreakPoint {
                            width: 100%;
                            margin: 0 auto;
                        }
                    }
                }
            }
            .cardss {
                border: 2px solid red;
                display: flex;
                flex-direction: column;
                justify-content: flex-end;
                width: 100%;
                float: right;
                text-align: right;
                padding-right: 5%;
            }

            .age-text {
                color: green;
                font-size: 1.8rem;
                font-weight: 600;
                @include xsBreakPoint {
                    font-size: 1.2rem;
                }
                @include lgBreakPoint {
                    font-size: 1.3rem;
                }
                @include xlBreakPoint {
                    font-size: 1.5rem;
                }
            }
            .age-texts {
                font-size: 1.6rem;
                font-weight: 500;
                @include xsBreakPoint {
                    font-size: 1rem;
                }
                @include lgBreakPoint {
                    font-size: 1rem;
                }
                @include xlBreakPoint {
                    font-size: 1.15rem;
                }
            }
        }
    }
}

@keyframes cts {
    0%,
    100% {
        transform: translateX(40px);
    }
    50% {
        transform: translateY(100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes cts1 {
    0%,
    100% {
        transform: translateX(40px);
    }
    50% {
        transform: translateY(-100px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes rotatesdata {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
