@use "../../../../scss/abstract/" as *;

.footer-section {
    width: 100%;
    height: 100vh;
    position: relative;
    .footers {
        width: 100%;
        position: absolute;
        bottom: 0;
        object-fit: cover;
        z-index: 200000000000;
    }
    .footer-next {
        position: absolute;
        bottom: 0;
        z-index: 0;
    }
    .anoter-footer {
        position: absolute;
        bottom: 0;
    }
    .person-layout {
        position: absolute;
        bottom: 25%;
        right: 20%;
        z-index: 800000000000;
        @include lgBreakPoint {
            right: 0;
            bottom: 0;
        }
        @include xlBreakPoint {
            right: 0;
            bottom: 7%;
        }
        @include xxlBreakPoint {
            right: 0;
            bottom: 7%;
        }
    }
    .ft2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 20000000000000000000000;
        width: 52%;
        @include lgBreakPoint {
            width: 65%;
        }
        @include xlBreakPoint {
            width: 60%;
        }
        @include xxlBreakPoint {
            width: 57%;
        }
    }
    .pers {
        position: absolute;
        left: 10%;
        animation: pers 5s ease-in-out infinite;
        transition: 0s;
        @include lgBreakPoint {
            left: 5%;
        }
        @include xlBreakPoint {
            left: 7%;
        }
        @include xxlBreakPoint {
            left: 7%;
        }
    }
    .box-footers {
        .button-homes {
            position: absolute;
            right: 10%;
            width: 150px;
            height: 150px;
            border: 2px solid #04a9f3;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #04a9f3;
            animation: home 5s ease-in-out infinite;

            @include lgBreakPoint {
                width: 120px;
                height: 120px;
            }
            @include xlBreakPoint {
                width: 120px;
                height: 120px;
            }
        }
        .button-aboutuss {
            position: absolute;
            left: 50%;
            top: 15%;
            width: 150px;
            height: 150px;
            border: 2px solid #04a9f3;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #04a9f3;
            animation: about 5s ease-in-out infinite;

            @include lgBreakPoint {
                width: 120px;
                height: 120px;
            }
            @include xlBreakPoint {
                width: 120px;
                height: 120px;
            }
        }
        .button-contacts {
            position: absolute;
            bottom: 20%;
            left: 50%;
            width: 150px;
            height: 150px;
            border: 2px solid #04a9f3;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #04a9f3;
            animation: contact 5s ease-in-out infinite;

            @include lgBreakPoint {
                width: 120px;
                height: 120px;
            }
            @include xlBreakPoint {
                width: 120px;
                height: 120px;
            }
        }
        .button-servicess {
            position: absolute;
            right: 9%;
            bottom: 40%;
            width: 150px;
            height: 150px;
            border: 2px solid #04a9f3;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: #04a9f3;
            animation: service 5s ease-in-out infinite;
            @include lgBreakPoint {
                width: 120px;
                height: 120px;
            }
            @include xlBreakPoint {
                width: 120px;
                height: 120px;
                bottom: 50%;
            }
            @include xxlBreakPoint {
                bottom: 50%;
            }
        }
        a {
            text-decoration: none;
            color: white;
            font-size: 1.2rem;
            font-weight: 700;
        }
    }
}
@keyframes pers {
    0%,
    100% {
        transform: translateX(0px);
        transition: 2s;
    }
    100% {
        transform: translateX(40px);
        transform: scale(1.2);
        transition: 5s;
    }
}
