@use "../../../../../../scss/abstract/" as *;

.offcanvas {
    @include themed() {
        background: t($background-liner-sets) !important;
    }
    .darkst {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        // border: 2px solid red;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: lightsalmon;
        cursor: pointer;
        animation: dars 4s ease-in-out infinite;
    }
}

@keyframes dars {
    0%,
    100% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
