@use "../../../../scss/abstract/" as *;

.section6 {
    width: 100%;
    height: auto;
    position: relative;

    .person-work {
        .pa1 {
            position: absolute;

            @include xsBreakPoint {
                width: 10%;
                top: 4%;
                left: 12%;
            }
            @include smBreakPoint {
                width: 10%;
                top: 4%;
                left: 5%;
            }
            @include mdBreakPoint {
                width: 10%;
                top: 4%;
                left: 5%;
            }
            @include lgBreakPoint {
                width: 18%;
                top: 6%;
                left: 1%;
            }
            @include xlBreakPoint {
                width: 18%;
                top: 6%;
                left: 1%;
            }
            @include xxlBreakPoint {
                left: 1%;
            }
        }
    }
    .persons {
        .pa2 {
            position: absolute;
            right: 0;
            bottom: 0;
            @include xsBreakPoint {
                width: 8%;
                bottom: -1%;
            }
            @include smBreakPoint {
                width: 8%;
                bottom: -1%;
            }
            @include mdBreakPoint {
                width: 8%;
                bottom: -1%;
            }
            @include lgBreakPoint {
                width: 30%;
                bottom: -1%;
            }
            @include xlBreakPoint {
                width: 34%;
                bottom: -1%;
            }
            @include xxlBreakPoint {
                bottom: -1%;
                right: 0;
                object-fit: cover;
            }
        }
    }
    .latest {
        padding-left: 3rem;
        font-size: 2.5rem;
        font-weight: 500;
    }
    .cards {
        // border: 2px solid red;
        padding: 20px;
        border-radius: 20px;
        background-color: $back_export_color-white;
        cursor: pointer;
        position: relative;
        .demo {
            position: absolute;
            right: -10px;
            top: -10px;
            width: 20%;
            border: none;
            outline: none;
            padding: 10px;
            border-radius: 20px;
            background-color: #04a9f3;
            color: white;
            font-size: 1rem;
            @include lgBreakPoint {
                width: 30%;
            }
        }
        .demo:hover {
            background-color: orange;
            cursor: pointer;
            color: black;
        }

        .card-img-top {
            height: 250px;
            object-fit: cover;
            border-radius: 20px;
        }
        .card-text {
            font-size: 1.4rem;
            font-weight: 400;
            text-align: center;
            @include themed() {
                color: t($text-black-color);
            }
        }
        .day {
            font-size: 1rem;
            font-weight: 600;
            text-align: end;
        }
    }
    .cards:hover {
        transform: scale(1.1);
        transition: all 2s ease;
        animation: rotatesset 5s ease-in-out infinite;
    }
}
.sta-bike {
    width: 100%;
    border-radius: 10px;
}
@keyframes rotatesset {
    0%,
    100% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0);
    }
}
