@use "../../../../scss/abstract/" as *;

.section5 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    // border: 2px solid red;
    .port {
        padding-left: 5rem;
        font-size: 2.8rem;
        font-weight: 500;
    }
    .tabs {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        height: 100%;
        .tablist {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 600;
            height: 10%;
            // border: 2px solid red;
            justify-content: space-around;
            @include xsBreakPoint {
                font-size: 0.897rem;
            }
        }

        .inside-tabcontent {
            // border: 4px solid orange;
            height: 90%;
            overflow: hidden;
            @include xsBreakPoint {
                overflow-y: auto;
                padding-bottom: 90px;
                margin: 0 auto;
            }
            @include smBreakPoint {
                overflow-y: auto;
                padding-bottom: 90px;
                margin: 0 auto;
            }
            @include mdBreakPoint {
                overflow-y: auto;
                padding-bottom: 90px;
                margin: 0 auto;
            }
            @include lgBreakPoint {
                overflow-y: auto;
                padding-bottom: 70px;
                margin: 0 auto;
            }
            @include xlBreakPoint {
                overflow-y: auto;
                padding-bottom: 70px;
                margin: 0 auto;
            }
            .tabContent {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .active {
        background-color: $back_export_color-white;
        padding: 10px 30px;
        border-radius: 10% 30% 50% 70%;
        cursor: pointer;
        color: black;
    }
}
