@use "../../../../scss/abstract/" as *;

.section5 {
    width: 100%;
    height: 100vh;
    overflow: hidden;

    @include xsBreakPoint {
        height: auto;
    }
    @include smBreakPoint {
        height: auto;
    }
    @include mdBreakPoint {
        height: auto;
    }
    @include lgBreakPoint {
        height: auto;
    }
    @include xlBreakPoint {
        height: auto;
    }
    @include xxlBreakPoint {
        height: auto;
    }
    .port {
        padding-left: 5rem;
        font-size: 2.8rem;
        font-weight: 500;
    }
    .tabs {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        cursor: pointer;
        height: 100%;
        .tablists {
            display: flex;
            align-items: center;
            font-size: 1.2rem;
            font-weight: 600;
            height: 10%;
            justify-content: space-around;
            @include xsBreakPoint {
                font-size: 0.897rem;
            }
        }

        .inside-tabcontent {
            height: 90%;

            .tabContent {
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .active {
        background-color: $back_export_color-white;
        padding: 10px;
        border-radius: 10% 30% 50% 70%;
        cursor: pointer;
        color: black;
        width: 8%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include xsBreakPoint {
            width: 30%;
        }
        @include smBreakPoint {
            width: 30%;
        }
        @include mdBreakPoint {
            width: 35%;
        }
        @include lgBreakPoint {
            width: 20%;
        }
        @include xlBreakPoint {
            width: 10%;
        }
        @include xxlBreakPoint {
            width: 15%;
        }
    }
}
