@use "../../../../scss/abstract/" as *;

.section7 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    @include xsBreakPoint {
        height: auto;
    }
    @include smBreakPoint {
        height: auto;
        padding-bottom: 20px;
    }
    @include mdBreakPoint {
        height: auto;
        // padding-bottom: 20px;
    }

    .inside-contant {
        display: flex;
        height: 100%;
        @include xsBreakPoint {
            flex-direction: column;
        }
        @include smBreakPoint {
            flex-direction: column;
        }
        @include mdBreakPoint {
            flex-direction: column;
        }
        .left-section7 {
            width: 50%;
            // border: 2px solid red;
            @include xsBreakPoint {
                width: 100%;
            }
            @include smBreakPoint {
                width: 100%;
            }
            @include mdBreakPoint {
                width: 100%;
            }
            @include lgBreakPoint {
                width: 100%;
            }
            @include xlBreakPoint {
                width: 100%;
            }
            @include xxlBreakPoint {
                width: 100%;
            }
            .boxes {
                .cardt {
                    width: 32%;
                    // border: 2px solid red;
                    height: 150px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    text-align: center;
                    background-color: white;
                    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
                    border-radius: 20px;
                    color: black;
                    @include xsBreakPoint {
                        width: 37%;
                    }
                }
                .cardt:hover {
                    background-color: orange;
                    color: white;
                    cursor: pointer;
                }
                .locate {
                    font-size: 2rem !important;
                }
                .mails {
                    word-break: break-all;
                }
            }

            .cotact-list {
                display: flex;
                justify-content: center;
                align-content: center;
                gap: 50px;
                @include xsBreakPoint {
                    gap: 10px;
                }
                .google {
                    width: 7%;
                    @include xsBreakPoint {
                        width: 10%;
                    }
                    @include lgBreakPoint {
                        width: 11%;
                    }
                    @include xlBreakPoint {
                        width: 10%;
                    }
                    @include xxlBreakPoint {
                        width: 11%;
                    }
                }
            }
            .contactimage {
                width: 50%;
                margin: 0 auto;
                display: flex;
                align-items: center;
                justify-content: center;
                @include xsBreakPoint {
                    width: 60%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    padding-top: 10px;
                }
                @include smBreakPoint {
                    width: 60%;
                }
                @include mdBreakPoint {
                    width: 40%;
                }
                @include lgBreakPoint {
                    width: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                }
                @include xlBreakPoint {
                    width: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 0 auto;
                }
            }
        }
        .right-section7 {
            width: 50%;
            align-items: center;
            justify-content: center;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 10px 10px 0px 0px;
            position: relative;

            @include xsBreakPoint {
                width: 100%;
                padding-top: 5px;
            }
            @include smBreakPoint {
                width: 100%;
            }
            @include mdBreakPoint {
                width: 100%;
            }
            @include lgBreakPoint {
                width: 100%;
            }
            @include xlBreakPoint {
                width: 100%;
            }
            @include xxlBreakPoint {
                width: 100%;
            }
            .carousels {
                position: absolute;
                bottom: 0;
                width: 45%;
                right: 0;
                @include xsBreakPoint {
                    width: 30%;
                    display: none;
                }
                @include smBreakPoint {
                    width: 30%;
                    display: none;
                }
                @include mdBreakPoint {
                    width: 30%;
                    display: none;
                }
            }
            input {
                border: none !important;
                outline: none !important;
                background-color: transparent !important;

                @include mdBreakPoint {
                    width: 100%;
                }
                @include themed() {
                    border-bottom: 2px solid t($text-blue-darks) !important;
                    color: t($text-blue-darks) !important;
                }
            }
            .form-label {
                color: $back_export_color-black;
                font-size: 1.2rem;
                font-weight: 600;
            }
            .btn {
                width: 25%;
                background-color: orange;
                font-size: 1.3rem;
                font-weight: 600;
                border-radius: 20px;
                @include xsBreakPoint {
                    width: 40%;
                    font-size: 1rem;
                }
                @include smBreakPoint {
                    width: 45%;
                    font-size: 1rem;
                }
                @include mdBreakPoint {
                    width: 45%;
                    font-size: 1rem;
                }
                @include lgBreakPoint {
                    width: 45%;
                    font-size: 1rem;
                }
                @include xlBreakPoint {
                    width: 45%;
                    font-size: 1rem;
                }
                @include xxlBreakPoint {
                    width: 40%;
                    font-size: 1rem;
                }
            }
        }
    }
}
