@use "../../../../scss//abstract/" as *;

.section1 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    @include lgBreakPoint {
        overflow-y: scroll;
    }
    @include xlBreakPoint {
        overflow-y: scroll;
    }
    @include xxlBreakPoint {
        overflow-y: scroll;
    }
    .inside-section1 {
        width: 100%;
        height: 100%;
        display: flex;
        .left-section1 {
            width: 50%;
            height: 100%;

            @include lgBreakPoint {
                width: 100%;
            }
            @include xlBreakPoint {
                width: 100%;
            }
            @include xxlBreakPoint {
                width: 100%;
            }
            .content-section1 {
                display: flex;
                flex-direction: column;
                margin-left: 10%;
                z-index: 100000;
                padding-top: 20%;
                @include lgBreakPoint {
                    padding-top: 30%;
                }
            }

            .offset-top {
                .offs {
                    width: 6%;
                    position: absolute;
                    left: 0;
                    top: 5%;
                    z-index: 0;
                }
            }
            .image1 {
                position: absolute;
                top: 5%;
                left: 28%;
                @include lgBreakPoint {
                    left: 33%;
                    top: 20%;
                }
                @include xlBreakPoint {
                    left: 32%;
                    top: 12% !important;
                }
                @include xxlBreakPoint {
                    left: 26%;
                    top: 12% !important;
                }
                .section-image {
                    width: 70%;
                    transform: translateY(0);
                    animation: bounces 5s ease-in-out infinite;
                    background-color: orange !important;
                    border-radius: 50%;
                    border: 18px solid orangered;
                    @include lgBreakPoint {
                        width: 40%;
                    }
                    @include xlBreakPoint {
                        width: 50%;
                    }
                    @include xxlBreakPoint {
                        width: 60%;
                    }
                }
            }
            .hy {
                font-size: 4rem;
                font-size: 700;
                @include xlBreakPoint {
                    font-size: 4.2rem;
                }
                @include xxlBreakPoint {
                    font-size: 3.8rem;
                }
            }
            .kalai {
                color: $back_export_color-black;
                font-size: 5rem;
                @include lgBreakPoint {
                    font-size: 2.4rem;
                }
                @include xlBreakPoint {
                    font-size: 3.6rem;
                }
                @include xxlBreakPoint {
                    font-size: 3.6rem;
                }
            }
            .loream {
                font-size: 2rem;
                width: 90%;
                @include lgBreakPoint {
                    font-size: 1.4rem;
                    width: 100%;
                }
                @include xlBreakPoint {
                    width: 90%;
                    font-size: 1.4rem;
                }
                @include xxlBreakPoint {
                    width: 90%;
                }
            }
            .hire {
                width: 25%;
                border: none;
                outline: none;
                padding: 15px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;
                color: white;
                background-color: $back_export_color-black;
                font-size: 1.6rem;
                font-weight: 700;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
                @include lgBreakPoint {
                    width: 40%;
                }
                @include xlBreakPoint {
                    width: 40%;
                }
                @include xxlBreakPoint {
                    width: 30%;
                }
            }
            .bottom-image {
                position: absolute;
                top: 65%;
                left: 25%;
                @include lgBreakPoint {
                    top: 72%;
                    left: 30%;
                }
                @include xlBreakPoint {
                    left: 30%;
                    top: 67%;
                }
                @include xxlBreakPoint {
                    left: 30%;
                    top: 67%;
                }
                .rocket {
                    height: 270px;
                    transform: rotate(-15deg);
                    @include lgBreakPoint {
                        height: 200px;
                    }
                    @include xlBreakPoint {
                        height: 180px;
                    }
                    @include xxlBreakPoint {
                        height: 240px;
                    }
                }
            }
        }
        .right-section1 {
            width: 50%;
            height: 100%;
            position: relative;
            @include lgBreakPoint {
                width: 100%;
            }
            @include xlBreakPoint {
                width: 100%;
            }
            @include xxlBreakPoint {
                width: 100%;
            }
            .right-offset {
                .right-oofsets {
                    width: 10%;
                    right: 0;
                    position: absolute;
                    bottom: 0;
                }
            }

            .purush {
                .purushed {
                    width: 100%;
                    position: absolute;
                    z-index: 0;
                    right: 0%;
                    top: 10%;
                    @include lgBreakPoint {
                        top: 30%;
                        left: 5%;
                    }
                    @include xlBreakPoint {
                        top: 20%;
                        left: 5%;
                    }
                    @include xxlBreakPoint {
                        top: 20%;
                        left: 5%;
                    }
                }
            }
            .profiles {
                width: 22%;
                position: absolute;
                z-index: 78000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                top: 12%;
                left: 10%;
                transition: all 1s ease-in;
                @include lgBreakPoint {
                    width: 27%;
                    top: 25%;
                }
                @include xlBreakPoint {
                    width: 25%;
                    top: 20%;
                }
                @include xxlBreakPoint {
                    width: 25%;
                    top: 18%;
                }
            }
            .profiles:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 2s ease;
            }
            .settings-kalais {
                width: 22%;
                position: absolute;
                z-index: 78000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                top: 17%;
                right: 9%;
                transition: all 1s ease-in;
                @include lgBreakPoint {
                    width: 27%;
                    top: 28%;
                }
                @include xlBreakPoint {
                    width: 25%;
                }
                @include xxlBreakPoint {
                    width: 25%;
                    top: 22%;
                }
            }
            .settings-kalais:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 2s ease;
            }
            .abouts-kalai {
                width: 22%;
                position: absolute;
                z-index: 78000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                top: 40%;
                right: 2%;
                transition: all 1s ease-in;
                @include lgBreakPoint {
                    width: 27%;
                    top: 45%;
                }
                @include xlBreakPoint {
                    width: 25%;
                }
                @include xxlBreakPoint {
                    width: 25%;
                    top: 45%;
                }
            }
            .abouts-kalai:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 2s ease;
            }
            .chats-kalai {
                width: 22%;
                position: absolute;
                z-index: 78000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                top: 65%;
                right: 12%;
                transition: all 1s ease-in;
                @include lgBreakPoint {
                    width: 27%;
                    top: 68%;
                    right: 6%;
                }
                @include xlBreakPoint {
                    width: 25%;
                }
                @include xxlBreakPoint {
                    width: 25%;
                    top: 69%;
                }
            }
            .chats-kalai:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 2s ease;
            }
            .developers-kalai {
                width: 23%;
                position: absolute;
                z-index: 78000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                top: 38%;
                left: 3%;
                transition: all 1s ease-in;
                @include lgBreakPoint {
                    width: 27%;
                    top: 45%;
                }
                @include xlBreakPoint {
                    width: 25%;
                    top: 45%;
                }
                @include xxlBreakPoint {
                    width: 25%;
                    top: 40%;
                }
            }
            .developers-kalai:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 2s ease;
            }
            .services-kalai {
                width: 23%;
                position: absolute;
                z-index: 78000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                top: 70%;
                left: 9%;
                transition: all 1s ease-in;
                @include lgBreakPoint {
                    width: 27%;
                }
                @include xlBreakPoint {
                    width: 25%;
                }
            }
            .services-kalai:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 2s ease;
            }
            .actives-kalai {
                width: 23%;
                position: absolute;
                z-index: 78000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
                top: 20%;
                left: 9%;
                transition: all 1s ease-in;
                @include lgBreakPoint {
                    width: 27%;
                }
                @include xlBreakPoint {
                    width: 25%;
                }
            }
            .actives-kalai:hover {
                cursor: pointer;
                transform: scale(1.2);
                transition: all 2s ease;
            }
            .image-rounds {
                .round1 {
                    width: 35%;
                    position: absolute;
                    left: 60%;
                    top: 14%;

                    @include lgBreakPoint {
                        width: 39%;
                        top: 28%;
                    }
                    @include xlBreakPoint {
                        width: 35%;
                        top: 28%;
                    }
                }
            }

            .smile1 {
                @include lgBreakPoint {
                    left: 0;
                }
                .smiles {
                    position: absolute;
                    top: 5%;
                    transition: 2s ease;
                    width: 12%;
                    animation: smile1 5s ease-in-out infinite;
                    @include lgBreakPoint {
                        width: 25% !important;
                    }
                    @include xlBreakPoint {
                        width: 18% !important;
                    }
                    @include xxlBreakPoint {
                        width: 13%;
                    }
                }
            }
            .smile2 {
                .smiles1 {
                    width: 12%;
                    transition: 2s ease;
                    animation: smile2 5s ease-in-out infinite;
                    position: absolute;
                    top: 50%;
                    @include lgBreakPoint {
                        width: 20% !important;
                    }

                    @include xlBreakPoint {
                        width: 18% !important;
                    }
                    @include xxlBreakPoint {
                        width: 13%;
                    }
                }
            }
            .smile3 {
                .smiles2 {
                    width: 12%;
                    transition: 2s ease;
                    animation: smile3 5s ease-in-out infinite;
                    position: absolute;
                    top: 15%;
                    right: 0;
                    @include lgBreakPoint {
                        width: 20% !important;
                    }
                    @include xlBreakPoint {
                        width: 18% !important;
                    }
                    @include xxlBreakPoint {
                        width: 13%;
                    }
                }
            }
            .smile4 {
                .smiles3 {
                    width: 12%;
                    animation: smile4 5s ease-in-out infinite;
                    position: absolute;
                    z-index: 10000;
                    bottom: 0;
                    left: 20%;
                    @include lgBreakPoint {
                        width: 20% !important;
                        left: 18%;
                    }
                    @include xlBreakPoint {
                        width: 18% !important;
                        left: 15%;
                    }
                    @include xxlBreakPoint {
                        width: 13%;
                        left: 15%;
                    }
                }
            }
            .smile5 {
                .smiles4 {
                    width: 12%;
                    animation: smile5 5s ease-in-out infinite;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: 10000;
                    @include lgBreakPoint {
                        width: 20% !important;
                    }
                    @include xlBreakPoint {
                        width: 18% !important;
                    }
                    @include xxlBreakPoint {
                        width: 13%;
                    }
                }
            }
        }
    }
}
