@use "../../../../scss/abstract/" as *;

.section4 {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    @include xsBreakPoint {
        height: auto;
    }
    @include smBreakPoint {
        height: auto;
    }
    @include mdBreakPoint {
        height: auto;
    }
    @include lgBreakPoint {
        height: auto;
    }
    @include xlBreakPoint {
        height: auto;
    }
    .off-sets {
        position: absolute;
        right: 0;
        width: 10%;
        @include xsBreakPoint {
            width: 18%;
        }
        @include smBreakPoint {
            width: 20%;
        }
        @include mdBreakPoint {
            width: 20%;
        }
        @include lgBreakPoint {
            width: 12%;
        }
        @include xlBreakPoint {
            width: 10%;
        }
        @include xxlBreakPoint {
            width: 10%;
        }
    }
    .projects {
        font-size: 3rem;
        font-weight: 500;
        padding-left: 4rem;
        @include xsBreakPoint {
            padding-left: 1rem;
            font-size: 2.2rem;
        }
        @include smBreakPoint {
            padding-left: 1.8rem;
            font-size: 2.4rem;
        }
        @include mdBreakPoint {
            padding-left: 1.8rem;
            font-size: 2.4rem;
        }
    }
    .offsets-right {
        position: absolute;
        left: 0;
        width: 10%;
        bottom: 0;
        @include xsBreakPoint {
            width: 13%;
            // z-index:-1;
        }
        @include smBreakPoint {
            width: 15%;
        }
        @include mdBreakPoint {
            width: 14.8%;
        }
        @include lgBreakPoint {
            width: 9%;
        }
        @include xlBreakPoint {
            width: 10%;
        }
    }
    .slik-sliders {
        background-color: transparent;
        padding: 30px;
        padding-top: 5rem;
        @include xsBreakPoint {
            padding-top: 6rem;
        }
        @include mdBreakPoint {
            padding-top: 8rem;
        }

        .card {
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            height: auto;
            border-radius: 30px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
            // background: #fdb510;
            // padding-bottom: 20px;
            margin: 0 auto;
            cursor: pointer;
            z-index: 500000000000000000000;
            position: relative;
            // border:3px solid red;

            background: linear-gradient(180deg, #fff456 0%, rgba(253, 181, 16, 0.7) 100%);

            @include xsBreakPoint {
                width: 90%;
                height: 400px;
                padding: 20px;
            }
            @include smBreakPoint {
                width: 80%;
                height: auto;
                z-index: 9000000000000;
            }
            @include mdBreakPoint {
                width: 60%;
                height: 440px;
            }
            @include lgBreakPoint {
                width: 90%;
                height: 450px;
            }
            @include xlBreakPoint {
                width: 70%;
                height: 500px;
            }
            @include xxlBreakPoint {
                width: 70%;
                height: 500px;
            }

            .card-img-tops {
                width: 50%;
                height: 230px;
                // border: 2px solid red;
                @include xsBreakPoint {
                    width: 30%;
                    padding-top: 20px;
                }
                @include mdBreakPoint {
                    width: 40%;
                    padding-top: 20px;
                }
                @include lgBreakPoint {
                    width: 40%;
                    padding-top: 10px;
                }
            }
            .card-body {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                text-align: center;
            }
            .card-title {
                font-size: 1.5rem;
                font-weight: 600;
                @include themed() {
                    color: t($text-rose);
                }
            }
            .card-text {
                @include themed() {
                    color: t($text-black-color);
                }
            }
            .buttonss {
                background: linear-gradient(180deg, #74dbee 0%, rgba(116, 219, 238, 0.66) 100%);
                border-radius: 20px;
                font-size: 1rem;
                font-weight: 600;
                width: 50%;
                padding: 10px;
                border: none;
                outline: none;
                @include themed() {
                    color: t($text-black-color);
                }

                @include xsBreakPoint {
                    width: 60% !important;
                }
                @include smBreakPoint {
                    width: 50% !important;
                }
                @include xlBreakPoint {
                    width: 55% !important;
                }
            }
        }
        .slick-dots li button:before {
            color: orange;
            font-size: 10px;
            padding-top: 8vh;
        }
    }
}

.san {
    width: 100%;
    border: 2px solid #04a9f3;
    border-radius: 30px;
}
